## Lectura inicial de los datos.

In [78]:
import pandas as pd

datos = pd.read_csv("Datos2011.csv", sep = ",")

datos.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20112,TI,SB11201120469337,URBANO,N,A,TÉCNICO,1.252900e+11,1.252900e+11,25.0,...,No,No,No,A-,41.0,39.0,NaN,NaN,NaN,NaN
1,20112,TI,SB11201120429749,URBANO,N,A,ACADÉMICO,1.195320e+11,1.195320e+11,19.0,...,Si,No,No,A1,47.0,52.0,NaN,NaN,NaN,NaN
2,20112,TI,SB11201120357254,URBANO,N,A,ACADÉMICO,1.110010e+11,1.110010e+11,11.0,...,Si,No,No,A-,36.0,49.0,NaN,NaN,NaN,NaN
3,20112,TI,SB11201120128307,URBANO,N,A,ACADÉMICO,1.058610e+11,1.058610e+11,5.0,...,No,No,No,A1,43.0,32.0,NaN,NaN,NaN,NaN
4,20112,TI,SB11201120230641,URBANO,N,A,ACADÉMICO,1.761260e+11,1.761260e+11,76.0,...,No,No,No,A-,43.0,49.0,NaN,NaN,NaN,NaN

In [79]:
datos.dtypes

periodo                            int64
estu_tipodocumento                object
estu_consecutivo                  object
cole_area_ubicacion               object
cole_bilingue                     object
cole_calendario                   object
cole_caracter                     object
cole_cod_dane_establecimiento    float64
cole_cod_dane_sede               float64
cole_cod_depto_ubicacion         float64
cole_cod_mcpio_ubicacion         float64
cole_codigo_icfes                float64
cole_depto_ubicacion              object
cole_genero                       object
cole_jornada                      object
cole_mcpio_ubicacion              object
cole_naturaleza                   object
cole_nombre_establecimiento       object
cole_nombre_sede                  object
cole_sede_principal               object
estu_cod_depto_presentacion      float64
estu_cod_mcpio_presentacion      float64
estu_cod_reside_depto            float64
estu_cod_reside_mcpio            float64
estu_depto_presentacion           object
estu_depto_reside                 object
estu_estadoinvestigacion          object
estu_estudiante                   object
estu_fechanacimiento              object
estu_genero                       object
estu_mcpio_presentacion           object
estu_mcpio_reside                 object
estu_nacionalidad                 object
estu_pais_reside                  object
estu_privado_libertad             object
fami_cuartoshogar                 object
fami_educacionmadre               object
fami_educacionpadre               object
fami_estratovivienda              object
fami_personashogar                object
fami_tieneautomovil               object
fami_tienecomputador              object
fami_tieneinternet                object
fami_tienelavadora                object
desemp_ingles                     object
punt_ingles                      float64
punt_matematicas                 float64
punt_sociales_ciudadanas         float64
punt_c_naturales                 float64
punt_lectura_critica             float64
punt_global                      float64
dtype: object

In [52]:
datos.shape

(650420, 51)

In [53]:
datos.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
650415     True
650416     True
650417     True
650418    False
650419    False
Length: 650420, dtype: bool

In [54]:
datos = datos.drop_duplicates()
datos.shape

(572417, 51)

In [55]:
for columna in list(datos.columns):
    print(columna)

periodo
estu_tipodocumento
estu_consecutivo
cole_area_ubicacion
cole_bilingue
cole_calendario
cole_caracter
cole_cod_dane_establecimiento
cole_cod_dane_sede
cole_cod_depto_ubicacion
cole_cod_mcpio_ubicacion
cole_codigo_icfes
cole_depto_ubicacion
cole_genero
cole_jornada
cole_mcpio_ubicacion
cole_naturaleza
cole_nombre_establecimiento
cole_nombre_sede
cole_sede_principal
estu_cod_depto_presentacion
estu_cod_mcpio_presentacion
estu_cod_reside_depto
estu_cod_reside_mcpio
estu_depto_presentacion
estu_depto_reside
estu_estadoinvestigacion
estu_estudiante
estu_fechanacimiento
estu_genero
estu_mcpio_presentacion
estu_mcpio_reside
estu_nacionalidad
estu_pais_reside
estu_privado_libertad
fami_cuartoshogar
fami_educacionmadre
fami_educacionpadre
fami_estratovivienda
fami_personashogar
fami_tieneautomovil
fami_tienecomputador
fami_tieneinternet
fami_tienelavadora
desemp_ingles
punt_ingles
punt_matematicas
punt_sociales_ciudadanas
punt_c_naturales
punt_lectura_critica
punt_global

In [56]:
print(datos.isnull().sum())

periodo                               0
estu_tipodocumento                    0
estu_consecutivo                      0
cole_area_ubicacion                 928
cole_bilingue                     56057
cole_calendario                     371
cole_caracter                      3424
cole_cod_dane_establecimiento       887
cole_cod_dane_sede                   41
cole_cod_depto_ubicacion             21
cole_cod_mcpio_ubicacion             21
cole_codigo_icfes                    21
cole_depto_ubicacion                 21
cole_genero                          21
cole_jornada                         21
cole_mcpio_ubicacion                 21
cole_naturaleza                      21
cole_nombre_establecimiento          21
cole_nombre_sede                     21
cole_sede_principal                  21
estu_cod_depto_presentacion         169
estu_cod_mcpio_presentacion          24
estu_cod_reside_depto             11658
estu_cod_reside_mcpio             11658
estu_depto_presentacion               1
estu_depto_reside                 11659
estu_estadoinvestigacion              0
estu_estudiante                       1
estu_fechanacimiento                  0
estu_genero                           6
estu_mcpio_presentacion               0
estu_mcpio_reside                 11658
estu_nacionalidad                     0
estu_pais_reside                      1
estu_privado_libertad                 0
fami_cuartoshogar                  7776
fami_educacionmadre                9831
fami_educacionpadre                9771
fami_estratovivienda              12565
fami_personashogar                 7834
fami_tieneautomovil                7823
fami_tienecomputador               9256
fami_tieneinternet                 7946
fami_tienelavadora                 7823
desemp_ingles                       238
punt_ingles                         173
punt_matematicas                     28
punt_sociales_ciudadanas         572248
punt_c_naturales                 572393
punt_lectura_critica             572417
punt_global                      572417
dtype: int64

In [57]:
datos = datos[datos["punt_ingles"].notnull()]
print(datos.shape)
print(datos["punt_ingles"].isnull().sum())

(572244, 51)
0

In [ ]:
datos = datos.drop(["fami_tienelavadora","fami_tieneautomovil",
                    "fami_personashogar","fami_cuartoshogar",
                    "estu_fechanacimiento","estu_estadoinvestigacion",
                    "cole_nombre_sede","cole_nombre_establecimiento",
                    "estu_consecutivo","cole_cod_dane_establecimiento",
                    "cole_cod_dane_sede","cole_cod_depto_ubicacion",
                    "cole_cod_mcpio_ubicacion","cole_codigo_icfes",
                    "estu_cod_depto_presentacion", "estu_cod_mcpio_presentacion",
                    "estu_cod_reside_depto","estu_cod_reside_mcpio",
                    "punt_matematicas", "punt_sociales_ciudadanas",
                    "punt_c_naturales", "punt_lectura_critica",
                    "punt_global"], axis=1)
print(datos.isnull().sum())

periodo                        0
estu_tipodocumento             0
cole_area_ubicacion          928
cole_bilingue              56032
cole_calendario              371
cole_caracter               3401
cole_depto_ubicacion          21
cole_genero                   21
cole_jornada                  21
cole_mcpio_ubicacion          21
cole_naturaleza               21
cole_sede_principal           21
estu_depto_presentacion        0
estu_depto_reside          11658
estu_estudiante                0
estu_genero                    6
estu_mcpio_presentacion        0
estu_mcpio_reside          11658
estu_nacionalidad              0
estu_pais_reside               0
estu_privado_libertad          0
fami_estratovivienda       12563
fami_tienecomputador        9256
fami_tieneinternet          7946
desemp_ingles                238
punt_ingles                    0
dtype: int64

In [60]:
datos.shape

(572244, 26)

In [62]:
datos = datos.dropna()
datos.shape

(494878, 26)

In [65]:
print(datos.isnull().sum().sum())

0

In [66]:
datos.dtypes

periodo                      int64
estu_tipodocumento          object
cole_area_ubicacion         object
cole_bilingue               object
cole_calendario             object
cole_caracter               object
cole_depto_ubicacion        object
cole_genero                 object
cole_jornada                object
cole_mcpio_ubicacion        object
cole_naturaleza             object
cole_sede_principal         object
estu_depto_presentacion     object
estu_depto_reside           object
estu_estudiante             object
estu_genero                 object
estu_mcpio_presentacion     object
estu_mcpio_reside           object
estu_nacionalidad           object
estu_pais_reside            object
estu_privado_libertad       object
fami_estratovivienda        object
fami_tienecomputador        object
fami_tieneinternet          object
desemp_ingles               object
punt_ingles                float64
dtype: object

In [67]:
datos["desemp_ingles"].unique()

array(['A-', 'A1', 'B1', 'B+', 'A2'], dtype=object)

In [73]:
def clasificar(row):
    inferior = ["A-","A1"]
    promedio = ["A2"]
    exitoso = ["B1","B+"]
    r = None
    if str(row["desemp_ingles"]) in inferior:
        r = "inferior"
    elif str(row["desemp_ingles"]) in promedio:
        r = "promedio"
    elif str(row["desemp_ingles"]) in exitoso:
        r = "exitoso"
    return r

datos["resultado"] = datos.apply(clasificar,axis=1)
datos.head()

,periodo,estu_tipodocumento,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_mcpio_ubicacion,...,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,fami_estratovivienda,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,resultado
0,20112,TI,URBANO,N,A,TÉCNICO,CUNDINAMARCA,MIXTO,MAÑANA,FUSAGASUGÁ,...,FUSAGASUGÁ,COLOMBIA,COLOMBIA,N,Estrato 2,No,No,A-,41.0,inferior
1,20112,TI,URBANO,N,A,ACADÉMICO,CAUCA,MIXTO,MAÑANA,PATÍA,...,PATÍA,COLOMBIA,COLOMBIA,N,Estrato 1,Si,No,A1,47.0,inferior
2,20112,TI,URBANO,N,A,ACADÉMICO,BOGOTA,MIXTO,MAÑANA,BOGOTÁ D.C.,...,BOGOTÁ D.C.,COLOMBIA,COLOMBIA,N,Estrato 2,Si,No,A-,36.0,inferior
3,20112,TI,URBANO,N,A,ACADÉMICO,ANTIOQUIA,MIXTO,MAÑANA,VENECIA,...,VENECIA,COLOMBIA,COLOMBIA,N,Estrato 2,No,No,A1,43.0,inferior
4,20112,TI,URBANO,N,A,ACADÉMICO,VALLE,MIXTO,MAÑANA,CALIMA,...,CALIMA,COLOMBIA,COLOMBIA,N,Estrato 2,No,No,A-,43.0,inferior

In [74]:
datos["resultado"].value_counts()

resultado
inferior    446263
promedio     31198
exitoso      17417
Name: count, dtype: int64

In [75]:
datos["desemp_ingles"].value_counts()

desemp_ingles
A-    274436
A1    171827
A2     31198
B1     14106
B+      3311
Name: count, dtype: int64

In [76]:
datos["periodo"] = datos["periodo"].apply(lambda x: x-20110)
datos.head()

,periodo,estu_tipodocumento,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_mcpio_ubicacion,...,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,fami_estratovivienda,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,resultado
0,2,TI,URBANO,N,A,TÉCNICO,CUNDINAMARCA,MIXTO,MAÑANA,FUSAGASUGÁ,...,FUSAGASUGÁ,COLOMBIA,COLOMBIA,N,Estrato 2,No,No,A-,41.0,inferior
1,2,TI,URBANO,N,A,ACADÉMICO,CAUCA,MIXTO,MAÑANA,PATÍA,...,PATÍA,COLOMBIA,COLOMBIA,N,Estrato 1,Si,No,A1,47.0,inferior
2,2,TI,URBANO,N,A,ACADÉMICO,BOGOTA,MIXTO,MAÑANA,BOGOTÁ D.C.,...,BOGOTÁ D.C.,COLOMBIA,COLOMBIA,N,Estrato 2,Si,No,A-,36.0,inferior
3,2,TI,URBANO,N,A,ACADÉMICO,ANTIOQUIA,MIXTO,MAÑANA,VENECIA,...,VENECIA,COLOMBIA,COLOMBIA,N,Estrato 2,No,No,A1,43.0,inferior
4,2,TI,URBANO,N,A,ACADÉMICO,VALLE,MIXTO,MAÑANA,CALIMA,...,CALIMA,COLOMBIA,COLOMBIA,N,Estrato 2,No,No,A-,43.0,inferior

In [77]:
datos["periodo"].value_counts()

periodo
2    468353
1     26525
Name: count, dtype: int64